{% extends 'index.html' %}
{% block content %}

<div class="container">
  <div class="row"></div>
</div>
<div class="flex-column">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h2 class="card-title" style="font-weight: bold;">Table Kurir</h2>
      <a class="btn btn-primary" href="tambah_kurir">Tambah Kurir</a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID Kurir</th>
            <th>Nama Kurir</th>
            <!-- <th>TTL</th> -->
            <th>Nomor HP</th>
            <th>Area Pengiriman</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          {% for kurir in data_kurir %}
          <tr>
            <td>{{ kurir.id_kurir }}</td>
            <td>{{ kurir.nama }}</td>
            <!-- <td>{{ kurir.ttl }}</td> -->
            <td>{{ kurir.no_telepon }}</td>
            <td>{{ kurir.area_pengiriman }}</td>
            <td>
              <a class="btn btn-dark btn-sm" href="{% url 'updateKurir' kurir.id_kurir %}">
                  <i class="fa fa-pencil-alt"></i>
              </a>
              <a onclick="return confirm('Anda yakin ingin menhapus data Kurir dengan ID Kurir = {{kurir.id_kurir}} ?')" 
              class="btn btn-danger btn-sm" href="{% url 'deleteKurir' kurir.id_kurir %}">
                  <i class="fa fa-trash"></i> 
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}