<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>FORM TAMBAH BARANG</h1>
    <p>ID Barang : </p>
    <input type="text" name="id_barang" id="id_barang" max_length=10 required>
    <p>Nama Pemesan : </p>
    <input type="text" name="pemesan" id="pemesan" max_length=50 required>
    <p>Alamat Barang : </p>
    <input type="text" name="alamat_barang" id="alamat_barang" max_length=100 required>
    <p>No HP Pemesan : </p>
    <input type="text" name=" nomor_hp_pemesan" id=" nomor_hp_pemesan" max_length=13 required>
    <p>Penerima : </p>
    <input type="text" name="penerima" id="penerima" max_length=50 required>
    <p>Status : </p>
    <input type="text" name="penerima" id="penerima" max_length=50 required>
    <div class="form-group">
        <label for="">Bukti : </label> <br>
        <input required type="file" name="bukti" alt="" />
    </div>
    <br>
    <br>
    <button type="submit">SUBMIT</button>
</body>
</html>