<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Update Task</title>

</head>
<body>
    {% if messages %}
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    {% endif %}

    <form action=" {% url 'post_updateTask' %} " method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>FORM UPDATE TASK</h1>
        <p>TASK ID : </p>
        <input style="background-color: aquamarine;" type="text" name="id_task" id="id_task" maxlength="10" value="{{ data_task.id_task }}" readonly required>
        <p>JENIS : </p>
        <input type="radio" name="delivery_type" id="pos" value="pos" onchange="onDeliveryTypeChange()">
        <label for="pos">POS</label><br>
        <input type="radio" name="delivery_type" id="pod" value="pod" onchange="onDeliveryTypeChange()">
        <label for="pod">POD</label>
        <script>
            function onDeliveryTypeChange() {
                var posRadio = document.getElementById("pos");
                var podRadio = document.getElementById("pod");
                var buktiPodInput = document.getElementById("bukti_pod");
                var buktiPosInput = document.getElementById("bukti_pos");
                var waktuPosInput = document.getElementById("waktu_pos");
                var waktuPodInput = document.getElementById("waktu_pod");
                if (posRadio.checked) {
                    buktiPodInput.style.display = "none";
                    waktuPodInput.style.display = "none";
                    waktuPosInput.style.display = "block";
                    buktiPosInput.style.display = "block";
                } else if (podRadio.checked) {
                    buktiPosInput.style.display = "none";
                    waktuPosInput.style.display = "none";
                    buktiPodInput.style.display = "block";
                    waktuPodInput.style.display = "block";
                }
            }
        </script>

        <div id="pos">
            <p>WAKTU POS : </p>
            <p>Current : {{ data_task.waktu_pos}}</p>
            <input type="date" name="waktu_pos" id="waktu_pos" value="{{ data_task.waktu_pos}}"  >
            <p>BUKTI POS : </p>
            <p>Current : <img src="../../{{ data_task.bukti_pos}}" height="50"> </p>  <br>
            <input type="file" name="bukti_pos" id="bukti_pos" value="{{ data_task.bukti_pos}}"  >
        </div>
        <div id="pod">
            <p>WAKTU POD : </p>
            <p>Current : {{ data_task.waktu_pod}}</p>
            <input type="date" name="waktu_pod" id="waktu_pod" value="{{ data_task.waktu_pod}}"  >
            <p>BUKTI POD : </p>
            <p>Current : <img src="../../{{ data_task.bukti_pod}}" height="50"> </p>  <br>
            <input type="file" name="bukti_pod" id="bukti_pod" value="{{ data_task.bukti_pod}}"  >
        </div>
        <p>JUMLAH PAKET(POS) : </p>
        <input type="text" name="jml_paket_pos" id="jml_paket_pos" value="{{ data_task.jml_paket_pos}}" required>
        <p>JUMLAH PAKET(POD) : </p>
        <input type="text" name="jml_paket_pod" id="jml_paket_pod" value="{{ data_task.jml_paket_pod}}" required>
        <!-- <p>AREA PENGIRIMAN : </p>
        <select name="area_pengiriman" value="{{ data_kurir.area_pengiriman}}" required>
            {% for kurir in daftar_kurir %}
                <option value="{{ data_kurir.area_pengiriman }}">{{ data_kurir.area_pengiriman }}</option>
            {% endfor %}
        </select> -->
        <p></p>
        <a href="{% url 'indexTask' %}" class="button">KEMBALI</a>
        <button type="submit" class="btn btn-submit">SUBMIT</button>
    </form>
</body>
</html>